@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url("../fonts/helvetica_ncr.otf");
}

body
{
    font-family: "HelveticaNeueCyr-Roman", sans-serif;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #cfe7cf;
}

ul, ol, address, h1, h2, h3, h4
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
    font-family: "HelveticaNeueCyr-Roman", sans-serif;
    font-style: normal;
    font-size: 16px;
}

.modal-backdrop
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
    overflow: hidden;
}

.modal-backdrop.is-visible
{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.container
{
    padding: 0 20px;
}

.block-wrapper
{
    padding: 12px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid gray;
    margin-bottom: 8px;
}

.page-header
{
    padding: 5px 0px;
    border-bottom: 1px solid grey;
    background-color: #ffffff;
}

.page-nav
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav-logo-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav-menu-row
{
    border-top: 1px solid gray;
    padding: 8px 0px;
    display: none;
}

.burger-menu
{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 120px;
}

.burger-menu-link
{
    font-size: 18px;
    transition: color 250ms ease-in-out;
}

.burger-menu-link:hover, .burger-menu-link:focus
{
    color: #2f8d71;
}

.burger-menu-wrapper
{
    padding: 100px 0px;
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #dae6da;
    z-index: 6;
}

.burger-menu-header
{
    font-size: 30px;
    margin-bottom: 40px;
    color: #2f8d71;
}

.burger-close
{
    position: absolute;
    top: 12px;
    right: 12px;
}

.burger-menu-wrapper.is-open
{
    transform: translateX(0);
}



.page-logo, .bottom-page-logo
{
    width: 112px;
    height: auto;
}

.nav-contacts-list
{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 232px;
    display: none;
}

.burger-contacts-list
{
    display: flex;
}

.nav-contacts-link
{
    font-size: 16px;
    transition: color 250ms ease-in-out, transform 250ms ease-in-out;
    display: inline-block;
}

.nav-contacts-link:hover, .nav-contacts-link:focus, .nav-menu-link:hover, .nav-menu-link:focus
{
    color: #2f8d71;
}

.nav-menu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav-menu-link
{
    display: block;
    padding: 12px 0px;
    transition: color 250ms ease-in-out;
}

.nav-menu-item::after
{
    opacity: 0;
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #2f8d71;
    transition: opacity 250ms ease-in-out;
}

.nav-menu-item:hover::after
{
    opacity: 1;
}

.page-main
{
    margin-bottom: auto;
}

.contacts-link
{
    font-size: 16px;
    transition: color 250ms ease-in-out, transform 250ms ease-in-out;
    display: flex;
    flex-direction: row;
}

.contacts-link:hover, .contacts-link:focus
{
    color: #2f8d71;
    transform: scale(1.05);
}

.nav-contacts-phone::before {
    background-image: url(../images/phone_green.png);
    display: inline-block;
    content: '';
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    margin-right: 5px;
}

.nav-contacts-email::before {
    background-image: url(../images/mail_green.png);
    display: inline-block;
    content: '';
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    margin-right: 5px;
}

.contacts-link-email::before
{
    background-image: url(../images/mail_green.png);
    display: inline-block;
    content: '';
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    margin-right: 5px;
}

.contacts-link-phone::before
{
    background-image: url(../images/phone_green.png);
    display: inline-block;
    content: '';
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    margin-right: 5px;
}

.contacts-link-address::before
{
    background-image: url(../images/pointer_green.png);
    display: inline-block;
    content: '';
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    margin-right: 5px;
}

.contacts-section
{
    padding: 32px 0px;
}

.section-header
{
    max-width: 400px;
    font-size: 16px;
    margin-bottom: 40px;
}

.news-section
{
    padding: 32px 0px;
}

.news-images-group
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.news-images-item
{
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid limegreen;
    transition: transform 250ms ease-in-out;
}

.news-images-item:hover, .news-images-item:focus
{
    transform: scale(1.2);
}

.news-image
{
    max-width: 280px;
    height: auto;
    display: block;
}

.block-wrapper-header
{
    font-size: 18px;
    margin-bottom: 20px;
}

.block-wrapper-remark
{
    font-size: 12px;
    color: grey;
    margin-bottom: 20px;
}

.block-wrapper-text
{
    font-size: 16px;
    margin-bottom: 32px;
}

.main-header
{
    color: #2f8d71;
    font-size: 30px;
    margin-bottom: 60px;
}

.contacts-list
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: normal;
    max-width: 320px;
}

.page-footer
{
    padding: 5px 0px;
    border-top: 3px solid grey;
    background-color: #ffffff;
    /*
    bottom: 0;
    width: 100vw;
    position: absolute;
    */
}

.footer-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer-copyright
{
    font-size: 12px;
}

.in-development
{
    font-size: 30px;
    font-weight: bold;
}

.in-development-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.in-development-image
{
    width: 300px;
    height: auto;
}

@media screen and (min-width: 768px)
{
    .container
    {
        padding: 0 40px;
    }
    .block-wrapper
    {
        padding: 20px;
    }
    .page-logo
    {
        width: 230px;
    }
    .nav-contacts-list
    {
        display: flex;
    }
    .burger-contacts-list
    {
        display: none;
    }
    .contacts-list
    {
        max-width: 768px;
        flex-direction: row;
        column-gap: 156px;
        flex-wrap: wrap;
    }
    .contacts-link, .nav-contacts-link
    {
        font-size: 18px;
    }
    .contacts-link::before, .nav-contacts-link::before
    {
        width: 24px;
        height: 20px;
    }
    .section-header
    {
        max-width: 720px;
        font-size: 18px;
    }
    .block-wrapper-header
    {
        font-size: 20px;
    }
    .block-wrapper-remark
    {
        font-size: 16px;
    }
    .block-wrapper-text
    {
        font-size: 16px;
    }
    .news-images-group
    {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 90%;
    }
    .news-image
    {
        width: 420px;
    }
    .in-development-image
    {
        width: 700px;
    }
}

@media screen and (min-width: 1280px)
{
    .nav-menu-row
    {
        display: block;
    }
    .container
    {
        padding: 0 80px;
    }
    .block-wrapper
    {
        padding: 32px;
    }
    .contacts-list
    {
        max-width: 1280px;
        column-gap: 60px;
    }
    .burger-button
    {
        display: none;
    }
    .section-header
    {
        max-width: 1280px;
        font-size: 20px;
    }
    .block-wrapper-header
    {
        font-size: 22px;
    }
    .block-wrapper-remark
    {
        font-size: 18px;
    }
    .block-wrapper-text
    {
        font-size: 18px;
    }

    
}