<div class="burger-menu-wrapper">
  <img
    class="burger-close"
    src="./images/burger-close.png"
    width="60"
    height="60"
  />
  <h2 class="burger-menu-header">Меню</h2>
  <ul class="burger-menu">
    <li class="burger-menu-item">
      <a class="burger-menu-link" href=".">Про компанію</a>
    </li>
    <li class="burger-menu-item">
      <a class="burger-menu-link" href=".">Каталог товарів</a>
    </li>
    <li class="burger-menu-item">
      <a class="burger-menu-link" href=".">Наша діяльність</a>
    </li>
    <li class="burger-menu-item">
      <a class="burger-menu-link" href="news.html">Новини</a>
    </li>
    <li class="burger-menu-item">
      <a class="burger-menu-link" href=".">Вакансії</a>
    </li>
    <li class="burger-menu-item">
      <a class="burger-menu-link" href=".">Контакти</a>
    </li>
  </ul>
  <ul class="nav-contacts-list burger-contacts-list">
    <li class="nav-contacts-item">
      <a
        class="nav-contacts-link nav-contacts-phone"
        href="tel:+380932935429"
        target="_blank"
      >
        093-293-54-29
      </a>
    </li>
    <li class="nav-contacts-item">
      <a
        class="nav-contacts-link nav-contacts-email"
        href="mailto:office@chemreserve.com.ua"
        target="_blank"
      >
        office@chemreserve.com.ua
      </a>
    </li>
  </ul>
</div>
