<div class="container">
  <nav class="page-nav">
    <div class="nav-logo-row">
      <a href="/" class="page-logo-link">
        <img
          class="page-logo"
          src="./images/chemreserve-logo.png"
          alt="Логотип компанії ХІМРЕЗЕРВ"
        />
      </a>
      <ul class="nav-contacts-list">
        <li class="nav-contacts-item">
          <a
            class="nav-contacts-link nav-contacts-phone"
            href="tel:+380932935429"
            target="_blank"
          >
            093-293-54-29
          </a>
        </li>
        <li class="nav-contacts-item">
          <a
            class="nav-contacts-link nav-contacts-email"
            href="mailto:office@chemreserve.com.ua"
            target="_blank"
          >
            office@chemreserve.com.ua
          </a>
        </li>
      </ul>
      <img
        class="burger-button"
        src="./images/burger.png"
        alt="Мобільне меню"
        width="40"
        height="40"
      />
    </div>

    <div class="nav-menu-row">
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="contacts.html">Про компанію</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="contacts.html">Каталог товарів</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="contacts.html">Наша діяльність</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href=".">Новини</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="contacts.html">Вакансії</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="contacts.html">Контакти</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
